<div id="scorecardContainer">

  <h2>Scorecard!</h2>
  <%= render 'shared/scorecard' %>

</div><!-- end scorecardContainer div -->

<div id="resultsContainer">
	<h2>Results!</h2>
	<div id="results">
	</div>
	<div align="center"><%= will_paginate @scorecards %></div>
</div><!-- end resultsContainer div -->



 
