<div id="personalContainer">
	
  <%= render 'shared/personal' %>

</div><!-- end personalContainer div -->

<div id="resultsContainer">
	
  <%= render 'shared/results' %>

</div><!-- end resultsContainer div -->

<div id="scorecardContainer">

  <h2>Scorecard!</h2>
  <%= render 'shared/scorecard' %>

</div><!-- end scorecardContainer div -->

 
