<div id="scorecardContainer">

  <h2>Scorecard!</h2>
  <%= render 'shared/scorecard' %>
	
  <h2>Results!</h2>
  <%= render 'shared/results' %>

  

</div><!-- end scorecardContainer div -->

<div id="personalContainer">
	
  <%= render 'shared/personal' %>

</div>