/* ------------------------------- Application CSS ------------------------------- */
#wrapper {
	margin: 0 auto;
	width:1000px;
}
a:hover {
	text-decoration:none;
}
a {
	color:blue;
}
#flash_error {
	background: red;
	border:solid thin;
}

/* ------------------------------- Navigation CSS ------------------------------- */

#navigation {
	border:solid white;
}
#navigation ul {
	padding:0px 10px;
}
#navigation ul li {
	list-style:none;
	display: inline;
	padding:0px 10px;
}

/* ------------------------------- Logged in home CSS ------------------------------- */

#scorecardContainer {
	padding:0px 20px 0px 0px;
	display:inline-block;
	float:left;
	position:absolute;
	overflow:hidden;
}
#scorecard {
	position:relative;
	left:0px;
	display:inline-block;
	float:left;
}
#leaderboard {
	display:inline-block;
	padding:0px 20px;
	float:right;
}

/* ------------------------------- Scorecard CSS ------------------------------- */

.holeLabel {
	color: #999;
	font-size: 12px;
	width:36px;
	display:inline-block;
	text-align:center;
}
.outputSC {
	margin:20px 0px;
	white-space:nowrap;
}
.holeInput {
	width:30px;
	text-align:center;
}
.totalInput {
	width:45px;
	text-align:center;
}
.holeOutput {
	width:35px;
	text-align:center;
	display:inline-block;
}
.teesOutput {
	width:30px;
	display:inline-block;
	font-weight:800;
	text-align:center;
}
.deleteBtn {
	width:60px;
	display:inline-block;
	text-align:center;
}
#toggleSC {
	color:#FFF;
	background:#999;
	margin:8px 5px;
	padding:28px 0;
	position:relative;
	left:0px;
}
#toggleContainer {
	display:inline-block;
}
