/* ------------------------------- Application CSS ------------------------------- */
#wrapper {
	margin: 0 auto;
	width:1000px;
}
a:hover {
	text-decoration:none;
}
a {
	color:blue;
}
.flash_error, .flash_error, .flash_alert {
	padding: 0.8em; 
	margin-bottom: 1em; 
	border: 2px solid #ddd;
	background: #fbe3e4; 
	color: #8a1f11; 
	border-color: #fbc2c4;
}
.flash_notice, .flash_success {
	padding: 0.8em; 
	margin-bottom: 1em; 
	border: 2px solid #ddd;
	background: #e6efc2; 
	color: #264409; 
	border-color: #c6d880;
}

/* ------------------------------- Navigation CSS ------------------------------- */

#navigation {
	margin:20px 0;
}
#navigation ul {
	padding:1px 10px;
	display:inline-block;
	margin:10px 0px 0 0;
}
#navigation ul li {
	list-style:none;
	display: inline;
	padding:0px 10px;
	line-height:40px;
}
.headerPic {
	margin:5px;
	float:left;
}

/* ------------------------------- Logged in home CSS ------------------------------- */

#scorecardContainer {
	padding:0px 20px 0px 0px;
	float:right;
	overflow:hidden;
	padding:0px;
}
#personalContainer {
	background:#FFF380;
	float:right;
	padding: 5px 10px;
	margin:20px 5px;
	width:300px;
	margin-right:100px;
	border:solid 2px;
}
#resultsContainer {
	display:inline-block;
	border:solid 2px;
	float:left;
	padding:10px;
	background:#e9e9e9;
}
#scorecard {
	position:relative;
	left:0px;
	display:inline-block;
	float:left;
}
#leaderboard {
	display:inline-block;
	padding:0px 20px;
	float:right;
}
#outputHeader, .output {
	padding:0px;
	margin:10px 0;
}
.header {
	display:inline-block;
	width:70px;
	padding:0 15px;
	text-align:center;
}
.element, .date {
	display:inline-block;
	width:70px;
	padding:0 15px;
	text-align:center;
}
.date {
	width:90px;
}
.score {
	color:blue;
}

/* ------------------------------- Scorecard CSS ------------------------------- */

.holeLabel {
	color: #999;
	font-size: 12px;
	width:36px;
	display:inline-block;
	text-align:center;
}
.outputSC {
	margin:20px 0px;
	white-space:nowrap;
}
.holeInput {
	width:30px;
	text-align:center;
}
.totalInput {
	width:45px;
	text-align:center;
}
.holeOutput {
	width:35px;
	text-align:center;
	display:inline-block;
}
.teesOutput {
	width:30px;
	display:inline-block;
	font-weight:800;
	text-align:center;
}
.deleteBtn {
	width:60px;
	display:inline-block;
	text-align:center;
}
#toggleSC {
	color:#FFF;
	background:#999;
	margin:8px 5px;
	padding:28px 0;
	position:relative;
	left:0px;
}
#toggleContainer {
	display:inline-block;
}
img.loader {
	display:none;
	padding-left:10px;
}

/* ------------------------------- Leaderboard CSS ------------------------------- */

#topTen {
	border:solid 2px;
	display:inline-block;
	padding:20px;
	float:left;
	margin:10px;
	background:#e9e9e9;
}

#topTenMonth {
	border:solid 2px;
	display:inline-block;
	padding:20px;
	float:left;
	margin:10px;
	background:#d7e9d7;
}

#topTenWeek {
	border:solid 2px;
	display:inline-block;
	padding:20px;
	float:left;
	margin:10px;
	background:#f3f5a9;
}
.topTenScore {
	margin:5px 0;
}