<h2>Welcome to the playElver app</h2>
<p>Record your disc golf scores and see how your friends are shooting!</p>
<h3>What is playElver?</h3>
<p>It's a web application where you can keep track of your disc golf scores while following your friends scores also.</p>
<h3>Why was it made?</h3>
<p>It was made because we thought it would be a cool thing to have. We wanted a way to track our scores and then see how they progressed over a season. From there we realized that there were other cool things to add like being able to see how your buddies were shooting too. The development still hasn't stopped. We're still looking for cool ideas, so if you have any, let us know.</p>
<h3>How do I get involved</h3>
<p>It's simple. Create an account then log your disc golf scores after you play. Follow your friends and see their scores show up on your leaderboards.</p>
