<h2>Follow other players</h2>
<p>Choose other playElver users to follow and have their scores be apart of your leaderboards!</p> 
<% form_tag users_path, :method => 'get' do %>
  <p>
  	<%= text_field_tag :search %>
	<%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<% @users.each do |user| %>
	<%= user.name %><br />
<% end %>